


body {
    background-color: #fbfcfe;
    font-size: 1em;
    font-family: "arial", "helvetica", sans-serif;
    height: 100%;
  }


  /* HEADER ////////////// START ////////////////  NAV */

.mainHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: none;
    
  }

  .mainHeader img {
      position: absolute;
      padding-top: 20px;
      padding-left: 20px;
  }
  
  .logoHeader {
    width: 220px;
    padding-top: 30px;
    margin: auto;

  }

  .logoHeader img {
    order: 10;
  }


  .banner img {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }


.mainNav {
    margin-top: 35px;
    position: relative;
  }
  
  .mainNav ul {
    list-style-type: none;
    position: relative;
   
  }
  
  .mainNav ul li {  
    font-size: 80%; 
    display: inline;
    cursor: pointer;
  }
  
  .mainNav ul li a {
    color: #444044;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .mainNav ul li a:hover {
    padding: 10px;
    background-color: #fde8ad;
    border-radius: 1em;
    transition: 0.4s;
  } 

 /* HEADER /////////////// END ///////////////  NAV */




  
  
 /* FOOTER /////////////// START ///////////////  NAV */

  .mainFooter {
    display: flex;
    flex-direction: row;
    background-color: #c1bc94f6;
    height: 125px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }
  
  .footerNav {
    position: relative;
    margin: auto;
    margin-top: 3rem;
    margin-left: 6rem;

  }
  
  .footerNav ul {
    padding: 0;
    list-style-type: none;
    width: 350px;
    margin-left: 0;
  }
  
  .footerNav ul li { 
    cursor: pointer;
    display: inline;
    margin-right: 2rem;
    font-size: 90%; 
  }
  
  
  .footerNav ul li a {
    color: #444044;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .footerNav ul li a:hover {
    padding: 10px;
    background-color: #fde8ad;
    border-radius: 1em;
    transition: 0.4s;
  }


  @media only screen and (max-width: 600px) {
    .footerNav {
      position: relative;
      margin: auto;
      margin-top: 3rem;
    }

    .footerNav ul {
      padding: 0;
      list-style-type: none;
      width: 350px;
      
    }
    
    .footerNav ul li { 
      cursor: pointer;
      display: inline;
      margin-right: .5rem;
      font-size: 90%; 
    }
  }

  /* ////// SOCIAL MEDIA LINKS ///////// */

  .socialMedia {
    margin-left: auto;
    align-items: center;
    margin-top: 2em;
    
  }
  

  .socialMedia img {
    width: 3rem;
    height: 3rem;
  }
  
  

  .socialMedia img:hover {
    background-color: none;
    width: 3.5rem;
    height: 3.5rem;
    transition: 0.4s;
  }

  .git {

    padding-right: 2em;
  }

  .ig {
    padding-right: 1em;
  }

  .pin {
    padding-right: 1em;
  }


  @media only screen and (max-width: 600px) {
    .socialMedia img {
      width: 2.5rem;
      height: 2.5rem;
    }

    .socialMedia img:hover {
      background-color: none;
      width: 2.7rem;
      height: 2.7rem;
      transition: none;
    }
  }


  /* FOOTER /////////////// END ///////////////  NAV */




  

   /* MAIL /////////////// ///////////////  MAIL */

   .hidden {
    display: none;
  }
  
  * {
    border: none;
    padding: 0;
    margin: 0;
  }
  

  label {
    display: block;
    margin: 1.5em 0 0.3em;
    padding-left: 0.4em;
  }
  
  label:first-of-type {
    margin-top: 0;
  }

  input[type=text], input[type=email], textarea {
    padding: 1em;
    color: black;
    border-radius: 6px;
    width: 50%;
  }
  
  textarea {
    resize: vertical;
    display: block;
  }
  
  .submit-wrapper {
    display: inline-block;
    margin-top: 2em;
    padding: 0.75rem 3rem;
    border-radius: 0.5rem;
    background-color:  #fadd8f;
    cursor: pointer;
    font-size: 1.2em;
    color: #444044;
  }
  .submit-wrapper:hover {
    background-color: #c1bc94;
    transition: 0.4s;
  }
  .submit-wrapper span {
    padding-right: 0.5em;
  }

  #message {
      margin: 0 auto;
  }

  #topic {
    padding: 1em;
    color: black;
    border-radius: 6px;
    width: 50%;
  }


  .form {
    padding-top: 100px;
    margin: 0 auto;
    width: 60%;
    background-color: #444044af;
    padding: 5rem 1rem;
    border-radius: 4rem;
    animation-name: box;
    animation-duration: 5s;
  }
  
  .form h2 {
    font-weight: bold;
    font-size: 1.7em;
  }


  @keyframes box {
    from {background-color: #c1bc94c0;}
    to {background-color: #444044af;}
  }
  

  @media only screen and (max-width: 600px) {
    .form p {
      font-size: 1em;
      padding-left: 1.2em;
      padding-right: 1.2em;
    }
  
    .form {
      width: 90%;
      height: auto;
      margin: 0 auto;
      margin-bottom: 50px;
      background-color: #444044af;
      text-align: center;
      border-radius: 4rem;
      animation-name: box;
      animation-duration: 5s;
      }
  }




  /* ///////////// ABOUT /////////////// */ 

  .about {
      width: 80%;
      height: auto;
      margin: 0 auto;
      margin-top: 250px;
      margin-bottom: 50px;
      background-color: #444044af;
      text-align: center;
      border-radius: 4rem;

     
  

        animation-name: box;
        animation-duration: 5s;
      }
      
      @keyframes box {
        from {background-color: #c1bc94c0;}
        to {background-color: #444044af;}
      }
    
  
  

  .about h2 {
      padding-top: 1rem;
      font-weight: bold;
      font-size: 2em;
  }

  .about p {
      padding-bottom: 2rem;
      padding-left: 5rem;
      padding-right: 5rem;
  }

.about img {
  padding-top: 3rem;
    width: 150px;
    transition: .5s;
}

.about img:hover {
  width: 180px;
}



  .about .meButton {
    display: inline-block;
    padding: 0.75rem 3rem;
    border-radius: 0.5rem;
    background-color:  #fadd8f;
    cursor: pointer;
    font-size: 1.2em;
    color: #444044;
    text-decoration: none;
  }

  .about .meButton:hover {
    background-color: #c1bc94;
    transition: 0.4s;

  }

  .meButton span {
    padding-right: 0.5em;
  }



  @media only screen and (max-width: 600px) {
    .about p {
      font-size: 1em;
      padding-left: 1.2em;
      padding-right: 1.2em;
    }

    .about {
      width: 90%;
      height: auto;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 50px;
      background-color: #444044af;
      text-align: center;
      border-radius: 4rem;
  
  
        animation-name: box;
        animation-duration: 5s;
      }
  }



  .skills {
    width: 60%;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: #444044af;
    text-align: center;
    border-radius: 4rem;

   


      animation-name: box;
      animation-duration: 5s;
    }
    
    @keyframes box {
      from {background-color: #c1bc94c0;}
      to {background-color: #444044af;}
    }
  



.skills h2 {
    padding-top: 2.5rem;
    font-weight: bold;
    font-size: 2em;
}

.skills h3 {
  font-size: 1em;
  font-weight: bold;
}

.skills p {
    
    padding-left: 5rem;
    padding-right: 5rem;
}



.skills .meButton {
  display: inline-block;
  padding: 0.75rem 3rem;
  border-radius: 0.5rem;
  background-color:  #fadd8f;
  cursor: pointer;
  font-size: 1.2em;
  color: #444044;
  text-decoration: none;
}

.skills .meButton:hover {
  background-color: #c1bc94;
  transition: 0.4s;

}

@media only screen and (max-width: 600px) {
  .skills p {
    font-size: 1em;
    padding-left: 1.2em;
    padding-right: 1.2em;
  }

  .skills {
    width: 90%;
    height: auto;
    margin: 0 auto;
   
    margin-bottom: 50px;
    background-color: #444044af;
    text-align: center;
    border-radius: 4rem;


      animation-name: box;
      animation-duration: 5s;
    }
}


  /* ABOUT index.html ////////////////////////// END */






   /* GALLERY BEGINS ////////////////////////// GALLERY */

   .galleryContainer {
     width: 100%;
     margin: 0 auto;
     height: auto;
     margin-top: 100px;
     margin-bottom: 50px;

  
   }

   .galleryContainer .demoReel {
     width: 90%;
    padding-top: 500px;
    margin: 0 auto;
   }

   .galleryContainer h2 {
    font-weight: bold;
    font-size: 2em;
   }









   