.galleryContainer {
    width: 100%;
    margin: 0 auto;
    height: auto;
    margin-top: 100px;
    margin-bottom: 50px;

    .demoReel {
        width: 90%;
       padding-top: 500px;
       margin: 0 auto;
      }

     h2 {
        font-weight: bold;
        font-size: 2em;
       }
  }


