// variables hereeeeee 

.hidden { display: none; }

* {
    border: none;
    padding: 0;
    margin: 0;
}

// fonts
$main-font: 'arial', 'helvetica', sans-serif;

// colors 
$bg-color:#fbfcfe;
$hover-color: #fde8ad;
$green: #c1bc94c0;
$green-solid: #c1bc94;
$con-color: #444044af;
$font-color: #444044;

$main-font-color: white;

